<div class="transactions-page">
  <nav mat-tab-nav-bar [tabPanel]="tabPanel">
    <a
      mat-tab-link
      routerLink="transactions"
      routerLinkActive
      #rlaTransactions="routerLinkActive"
      [active]="rlaTransactions.isActive"
    >
      Transactions
    </a>
    <a
      mat-tab-link
      routerLink="analytics"
      routerLinkActive
      #rlaAnalytics="routerLinkActive"
      [active]="rlaAnalytics.isActive"
    >
      Analytics
    </a>
    <a
      mat-tab-link
      routerLink="risk-assessments"
      routerLinkActive
      #rlaRiskAssessments="routerLinkActive"
      [active]="rlaRiskAssessments.isActive"
    >
      Risk Assessments
    </a>
  </nav>
  <mat-tab-nav-panel #tabPanel>
    <router-outlet />
  </mat-tab-nav-panel>
</div>
